@model IEnumerable<eAuction.Models.Auction>
@{
    Layout = "~/Views/Shared/_LayoutWithSidebar.cshtml";
    ViewBag.Title = "Auctions";
}
@section sidebar
{
    <h3>This is my Side Bar</h3>
}
@section Featured
{
    <section class="featured">
        <div class="content-wraper">
            This is some feature content!
        </div>
    </section>
}
@section Scripts
{
    <!--This section will be render in the Script Section-->
}
<h2>@ViewBag.Title</h2>
<div class="btn btn-group btn-group-sm btn-toolbar">
    @Html.ActionLink("Create New", "Create",null,new {@class="btn btn-primary"})
</div>
@foreach (var auction in Model)
{
    @Html.Partial("_AuctionTile",auction)
}